@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, "sans-serif" !important;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

h1,
h2,
h3 {
  font-family: Oswald, "Times New Roman", "sans-serif" !important;
}

section {
  padding-top: 70px;
  background-color: white;
  background-clip: border-box;
}

header {
  height: auto;
  position: relative;
  background: #fff;
  word-wrap: normal;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.show-1025x512 {
  display: none !important;
}
.hidden-1025x512 {
  display: block !important;
}

.voffset-16 {
  margin-top: 16px;
}
.voffset-32 {
  margin-top: 32px;
}

.gone {
  display: none;
}

.h-100 {
  height: 100%;
}

#nav-bar {
  display: flex;
  align-items: center;
  padding: 12px 52px 11px 43px;
  transition: all 0.3s;
  background: #ffffff;
  margin-bottom: 0;
}

#nav-bar > .container-fluid {
  align-items: center;
  padding: 0 !important;
}

#logo {
  margin: 0 12px;
  height: 4.3rem;
}

.navbar-toggler {
  display: none;
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  background-color: #fff;
}

.hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #7030a0;
}

.hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}

#nav-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

a {
  color: #9752cb !important;
  text-decoration: none !important;
}

a.block {
  display: block;
  width: 100%;
}

.nav-link {
  position: relative;
  line-height: 1;
  margin: 0 !important;
  padding: 10px 20px !important;
}

.nav-link :hover {
  border-bottom: 3px solid grey;
  padding-bottom: 10px;
  transition: all 0.3s;
}

#nav-menu {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.nav-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #282828;
}

/* #social-links {
  line-height: 0;
} */

.icon-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: min(29px, max(18px, 4vw));
  height: min(29px, max(18px, 4vw));
  font-size: min(29px, max(18px, 4vw));
  margin-left: 8px;
}

nav .fab {
  margin-top: 10px;
  margin-right: 20px;
}

ul {
  list-style: none;
  font-size: 1.5rem;
  height: auto !important;
  margin: 0 !important;
}

#nav-menu-list {
  flex: 1;
  flex-wrap: wrap;
  font-weight: bold;
}

.button-link {
  padding: 12px 15px;
  border-radius: 4px;
}

a.button-link {
  text-align: center;
  min-width: 170px;
  text-decoration: none;
}

a.btn-translucent {
  background-color: #7030a0;
  color: white !important;
}

.themed-button {
  color: #fff;
  background-color: #7030a0;
}

.button-outline {
  background: none;
  border-color: #7030a0;
  border: 1px solid #7030a0;
}

#header-image {
  display: flex;
  height: 550px;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("/assets/images/tourism.jpg") 50% 50% / cover no-repeat
    border-box;
  overflow: hidden;
  color: white;
}

#header-image .container {
  margin: auto;
}

#header-text {
  margin-bottom: 35px;
}

.large-text {
  font-size: 5rem;
  line-height: 1.14;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  text-align: center;
}

.large-button {
  width: 220px;
  height: 70px;
  padding: 25px 10px !important;
  border-radius: 4px;
}

#carousel {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

.item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.carousel-inner {
  margin-bottom: 70px;
  overflow: hidden;
  height: min(900px, max(512px, 70vh));
}

#carousel-bg {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 49%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: 0;
}

.item.active,
.item-next,
.item-prev {
  display: block !important;
}

#carousel-controls {
  display: flex;
}

#carousel-controls span {
  border-radius: 50%;
  border: 2px solid #7070a0;
  background-color: transparent;
  transition: all 0.3s;
  font-size: 18px;
  opacity: 1;
}

#left-control {
  left: calc(75% - 64px);
  right: auto;
}

#right-control {
  left: auto;
  right: calc(25% - 64px);
}

#left-control,
#right-control {
  color: #7030a0;
  bottom: 35px;
  top: auto;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.title,
.small-title {
  color: #7030a0;
}

.title {
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-size: 4.25rem;
  line-height: 1.05882353;
}

.small-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.15;
}

.slide-content {
  text-align: left;
  padding-top: 50px;
}

.slide-image-wrap {
  margin-left: 11%;
  padding-top: 70px;
}

.slide-image {
  width: 100%;
  max-height: 900px;
  object-fit: cover;
}

.slide-text {
  font-size: min(1.8rem, max(1em, 3vmin));
}

.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
  transition: transform 0.5s;
}

.card-block:hover {
  transform: scale(0.95);
}

.card-content {
  position: relative;
  width: 100%;
  padding: 20px 44px 25px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.card-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: 1;
}

.card-block .card-content::before {
  background-color: #7030a0;
}

.card-image {
  display: flex;
  height: 190px;
  justify-content: center;
  position: relative;
  z-index: 5;
  margin-bottom: 10px;
}

.card-info {
  text-align: center;
}

.card-title {
  color: #7030a0;
  margin-bottom: 7px;
  font-weight: 600;
  position: relative;
  z-index: 5;
}

.empty-block,
.hidden {
  display: none;
}

.no-margin {
  margin: 0;
}

.tab-card-content {
  display: block;
  width: 100%;
}

.card-image img {
  max-width: 125px;
  max-height: 140px;
  align-self: center;
}

.tab-image {
  justify-content: center;
  position: relative;
}

.tab-image img {
  width: 45%;
}

.tab-text {
  margin-bottom: 0;
  color: #4c4c4c;
}

.tab-wrap {
  margin-bottom: 60px;
  display: flex;
}

#tab-header {
  margin-bottom: 65px;
  width: 100%;
}

/* https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
#parallax-image {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
}
/* https://css-tricks.com/books/fundamental-css-tactics/infinite-scrolling-background-image/ */
#parallax-image.paused::before {
  content: "";
  height: 100vh;
  max-height: 100vh;
  width: calc(100vh * 5.859375);
  background: url("../images/map.jpg") 50% 50% / contain repeat-x border-box;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: slide 20s linear infinite;
  -webkit-animation: slide 20s linear infinite;
  -moz-animation: slide 20s linear infinite;
  -o-animation: slide 20s linear infinite;
  backface-visibility: hidden;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
}
#parallax-image::before {
  content: "";
  height: 100vh;
  max-height: 100vh;
  width: calc(100vh * 5.859375);
  background: url("../images/map.jpg") 50% 50% / contain repeat-x border-box;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  animation: slide 20s linear infinite;
  -webkit-animation: slide 20s linear infinite;
  -moz-animation: slide 20s linear infinite;
  -o-animation: slide 20s linear infinite;
  backface-visibility: hidden;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(100vh * -1.953125), 0, 0);
  }
}

#parallax-tooltip {
  position: fixed;
  bottom: -9999px;
  left: 9999px;
  height: 360px;
  width: 480px;
  margin: 0.5em;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0px 10px 8px -4px #777;
  -moz-box-shadow: 0px 10px 8px -4px #777;
  box-shadow: 0px 10px 8px -2px #777;
  transition: width 0.25s, height 0.25s;
  -webkit-transition: width 0.25s, height 0.25s;
  -moz-transition: width 0.25s, height 0.25s;
}

#parallax-video {
  max-height: 100%;
  max-width: 100%;
  padding: 0.5em;
  object-fit: contain;
  opacity: 0;
}
#parallax-video.fade-in {
  opacity: 1;
  transition: opacity 0.25s 0.5s;
  -webkit-transition: opacity 0.25s 0.5s;
  -moz-transition: opacity 0.25s 0.5s;
}

#parallax-image > .container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 65vh;
  bottom: 0;
  font-size: min(2em, max(0.75em, 2vmin));
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 75%,
      rgba(255, 255, 255, 0) 100%
    )
    border-box;
}

#parallax-image img {
  height: 8vh;
}
.parallax-description {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.parallax-description > * {
  flex: 0 1 auto;
}
.parallax-description > p {
  margin-bottom: 8px;
}
.parallax-description > .row {
  flex: 0 0 auto;
}
#parallax-image .btn-primary {
  background-color: #7030a0;
  color: white;
}
#parallax-image .btn {
  font-size: min(1.5em, max(0.75em, 2vmin));
  padding: 0.75em 0.75em;
  margin: 0.5em -4px 0 16px;
}
@media screen and (min-width: 1025px) and (min-height: 512px) {
  #parallax-image {
    background: url("../images/map-Ego4D.png") 50% 50% / cover no-repeat
      border-box fixed;
  }
  #parallax-image::before {
    display: none !important;
  }

  #parallax-image.paused::before {
    display: none !important;
  }

  .show-1025x512 {
    display: block !important;
  }

  .hidden-1025x512 {
    display: none !important;
  }
}

#parallax-title {
  margin-bottom: 35px;
}

.nav-tabs {
  margin-bottom: 105px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.nav-tabs > li.active > a {
  border: none !important;
}

.nav-tabs > li a:hover {
  background-color: transparent !important;
  border: none !important;
}

.nav-tabs .nav-link.active {
  font-weight: 700;
  border: none;
  background-color: transparent;
  border-bottom: 11px solid #7030a0;
}

.nav-tab-image {
  height: 160px;
  max-width: 150px;
  width: 100%;
  text-align: center;
}

.container {
  width: 100% !important;
}

#tabbed-content {
  margin: 0 10%;
}

.image-block {
  margin-bottom: -144px;
  padding-top: 121px;
  position: relative;
}

.image {
  position: relative;
  width: 100%;
  z-index: 1;
}

#article .image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 575px;
  background-color: #ececec;
}

#article .image img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  height: 100%;
  transform: translatex(-50%);
}

.title-block {
  background-color: white;
  align-items: center;
  flex: 0 0 83%;
  margin-left: 8%;
  position: relative;
}

.article-title-block {
  background-color: white;
  align-items: center;
  flex: 0 0 83%;
  margin-left: 8%;
  position: relative;
  z-index: 1;
  padding-top: 40px;
  margin-bottom: 91px;
}

.q-and-a-block {
  margin-bottom: 89px;
}

.link a {
  font-weight: 700;
}

.link span {
  display: inline-block !important;
  transition: all 0.3s ease;
  margin-left: 13px;
}

.content-wrap:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

#consortium {
  padding-bottom: 5rem;
}

#consortium-text {
  padding-left: 4vw;
  margin-bottom: 32px;
}

.align-items-center {
  align-items: center !important;
}

.row-image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  max-height: 67px;
}

.row-image:nth-child(1) {
  padding-right: 80px;
}

.row-image:nth-child(2) {
  padding-left: 8%;
}

.row-image .image img {
  max-width: 100%;
  max-height: 245px;
}

.consortium_logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
}
.consortium_logos > div {
  flex: 1 1 30%;
  margin: 24px 0;
  max-width: 300px;
  min-width: 200px;
}

.consortium_logos > div > img {
  max-height: 64px;
  min-height: 32px;
  max-width: 100%;
  object-fit: contain;
}

.md-flip-order {
  flex-direction: row;
}

@media (max-width: 991px) {
  .md-flip-order {
    flex-direction: column-reverse;
  }
  #consortium {
    text-align: center;
  }
  #carousel-bg {
    display: none;
  }
  #left-control {
    left: calc(50% - 64px);
  }
  #right-control {
    right: calc(50% - 64px);
  }
  .slide-image-wrap {
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .timelines-container {
    margin-left: 20px;
  }
}
.timeline-element {
  margin-top: 20px;
  position: relative;
  word-wrap: normal;
  word-break: normal;
}

.divider-line:before {
  top: 60px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 0.5px;
  background-color: #7030a0;
  left: calc(50% - 1px);
  height: calc(100% - 3rem);
  opacity: 0.35;
}

.timeline-text-content {
  padding: 27px 27px 28px 37px;
  border: 1px solid #7030a0;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
}

.timeline-text-content:before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #7030a0;
  border-bottom: none;
  border-left: none;
  position: absolute;
  right: -8px;
  top: 18px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.timeline-element:nth-child(odd) .timeline-text-content {
  margin-right: 35px;
}

.timeline-element:nth-child(even) .timeline-text-content {
  margin-left: 35px;
}

.timeline-element:nth-child(even) .timeline-text-content:before {
  right: auto;
  left: -8px;
  top: 18px;
  transform: rotate(225deg);
}

.timeline-point {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 21px;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  background-color: #7030a0;
}

.timeline-point:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: inherit;
  opacity: 0.35;
  top: -10px;
  left: -10px;
  border-radius: 50%;
}

#subscribe {
  padding: 6rem 0;
}

.form-title {
  padding: 7px 7px 7px 0;
  margin-bottom: 0;
  text-align: center;
  color: #7030a0;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.subscription-form-control {
  background-color: #ffffff !important;
  color: #7030a0;
  border: 1px solid #7030a0;
  padding: 21px 18px;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#submit-btn {
  margin-left: -5px;
}
#submit-btn:hover {
  color: white;
}

footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ececec;
}

.nav-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 7px;
}

.menu-footer {
  width: 50%;
  padding-right: 40px;
  margin-bottom: 30px;
}

.menu-item {
  margin-bottom: 20px;
}

.widget-title {
  line-height: 1.17;
  margin-bottom: 20px;
  color: #7030a0;
}

.widget-feed {
  max-width: 305px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget-item {
  display: block;
  width: 92px;
  height: 92px;
  margin-bottom: 13px;
}

.widget-item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#people {
  padding-bottom: 50px;
}

#people .card-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 765px) {
  #challenges .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 991px) {
  #nav-menu {
    position: absolute;
    top: 100%;
    background-color: #ffffff !important;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    left: 0px;
    right: 0px;
    flex-direction: column;
  }

  #nav-menu-list {
    padding: 0 100px;
    margin: 0;
  }

  #nav-menu-list li {
    justify-content: flex-start;
    line-height: 21px;
    padding: 35px 43px 35px 19px !important;
  }

  .nav-item {
    border-bottom: 1px solid #ddebe9;
  }

  .slide-image-wrap {
    margin-left: 0;
    margin-bottom: 100px;
  }

  .nav-tabs {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 47px;
  }

  #instructor-text {
    margin-top: 60px;
    padding-left: 0;
  }

  .timeline-element:nth-child(odd) .timeline-text-content {
    margin-right: 10px;
  }

  .timeline-element:nth-child(odd) .timeline-text-content:before {
    right: auto;
    left: -8px;
    transform: rotate(225deg);
  }

  .timeline-point,
  .divider-line:before {
    left: 0 !important;
  }

  .timeline-element {
    margin: 0 0 28px 10px;
  }

  .timeline-text-content {
    padding: 18px 19px;
    margin-left: 0 !important;
  }

  form {
    margin-top: 25px;
  }

  .dragArea {
    margin: 0;
  }

  ul:not(.menu-footer) .menu-item {
    text-align: center;
  }

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  #logo {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    margin: 0 !important;
    padding: 0;
  }

  #nav-menu {
    display: flex !important;
  }

  #nav-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #nav-menu-list li {
    padding: 10px;
  }

  .container-fluid {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .slide-content {
    margin-left: 8.3%;
  }

  .slide {
    flex-wrap: nowrap;
  }
}

@media (max-width: 991px) {
  .slide-content {
    padding-top: 0;
    margin-bottom: 72px;
  }

  #nav-bar {
    padding: 13px 0;
  }

  .navbar-toggler {
    display: block;
  }
}

@media (max-width: 1024px) {
  .card-image img {
    max-width: 75px;
  }

  #nav-menu-list collapse:not(.in) .nav-link {
    font-size: 1.12rem;
  }
}

@media (min-width: 1025px) {
  .container {
    padding-left: 115px !important;
    padding-right: 115px !important;
    max-width: 100% !important;
  }
}

@media (min-width: 1199px) {
  .form-title {
    border-right: 1px solid #7030a0;
  }
}

@media (max-width: 1199px) {
  .subscription-form {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .empty-block {
    display: block !important;
  }
}

@media (max-width: 1280px) {
  #social-links {
    align-self: center;
    margin: 0;
    text-align: center;
  }

  .title {
    font-size: 2.8rem;
    line-height: 1.15;
  }
}

@media (max-width: 1440px) {
  .title {
    font-size: 5rem;
    line-height: 1.14;
  }
}
